<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>welcome to galaxy</title><!DOCTYPE html>   
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "prettify.css" %>
  <%= stylesheet_link_tag "docs.css" %>
  <%= stylesheet_link_tag "bootstrap-responsive.css" %> 
  <%= javascript_include_tag "bootstrap.min.js" %>

  <style type="text/css">  
  .socials {  
  padding: 10px;  
  }  
  </style>

  <script type='text/javascript'>
  function change_class(elem){
      var parentDiv = elem.parentNode;
    if(parentDiv.className == "dropdown open" ){
      alert(elem.parentDiv.className);
      parentDiv.className = "dropdown";
      alert(elem.parentDiv.className);
    }else{
      alert(elem.parentDiv.className);
      parentDiv.className = "dropdown open";
      alert(elem.parentDiv.className);
    }
  }
  </script>
</head>  
<body>  
<div id="fb-root"></div>  
<script>(function(d, s, id) {  
  var js, fjs = d.getElementsByTagName(s)[0];  
  if (d.getElementById(id)) return;  
  js = d.createElement(s); js.id = id;  
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";  
  fjs.parentNode.insertBefore(js, fjs);  
}(document, 'script', 'facebook-jssdk'));</script>  
<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <ul class="nav pull-left">  
      <li class="active"><a class="brand" href="http://은하수돌상.com">은하수돌상</a></li>    
    </ul>  
    <ul class="nav pull-right">  
      <li><a href="#presentation">Presentation</a></li>  
    </ul>  
    </div>  
  </div>  
</div>  



<center>
<%= image_tag("main.gif", :height => '300', :width => '966') %>
</center>
<hr id='about'>

<br>
<div class = "row-fluid" id="abouteva">
  <h2> &nbsp;&nbsp; About</h2>
  <div class = 'span1'></div>
    <div class ="span10">
    <center>
      <h4>은하수 돌상에 오신것을 환영합니다.</h4>
      </center>
    </div>
    <div class = 'span1'></div>
</div>
<hr id="presentation">
<br>
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 볼거리 </a></h2>
<div class = "row-fluid" >
  <div class = 'span1'></div>
  <div class = "span10">

      <div id="this-carousel-id" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
    <center>
      <div class="row-fluid">
        <div class="span3">
          <center>
          <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg' %> 홍대메리골드 </a></p>
          </center>
        </div>
        <div class="span3">
          <center>
          <p><img src = "/images/kcd3_ftp.png"></p>
          </center>
        </div>
        <div class="span3">
          <center>
          <p><img src = "/images/kcd3_ftp.png"></p>
          </center>
        </div>
        <div class="span3">
          <center>
          <p><img src = "/images/kcd3_ftp.png"></p>
          </center>
        </div>
    <!-- <iframe src="https://docs.google.com/a/favoritemedium.com/file/d/0B5di0w0aMxhxaG54YlhlV0tINW8/preview" width="640" height="480"></iframe> -->
      </div>
      
      <div class="carousel-caption">
        <p>발표자료</p>
      </div>
      </center>
    </div>
    <div class="item">
    <center>
            <div class="row-fluid">
        <div class="span3">
          <center>
          <p><a href="http://www.devpia.com/net2/evacast/Lecture/?cu=view&r=&itemseq=171"><img src = "/images/02refactoring.png"></a></p>
          </center>
        </div>
        <div class="span3">
                    <center>
          <p><a href="http://www.devpia.com/net2/evacast/Lecture/?cu=view&r=&itemseq=148"><img src = "/images/frameworkeng.png"></a></p>
          </center>
        </div>
        <div class="span3">
                    <center>
          <p><img src = "/images/02refactoring.png"></p>
          </center>
        </div>
        <div class="span3">
                    <center>
          <p><img src = "/images/02refactoring.png"></p>
          </center>
        </div>
      </div>
       <div class="carousel-caption">
        <p>영상자료</p>
      </div> 
      </center>
    </div>
  </div>
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>
  </div>
  <div class = 'span1'></div>
</div>
<hr> 
<div class = "row-fluid" id="blog">
  <center><a href="http://blog.naver.com/PostThumbnailList.nhn?blogId=pkh_1004&parentCategoryNo=125"><h2>네이버블로그 바로가기</h2></a></center><br><br>
  <center><a href="http://pkh_1004.blog.me/40200113784"><h2>네이버카페 바로가기</h2></a></center>
</div>
<hr id='members'>
<br>
<div class = "row-fluid" id="member">
<style>
figure {
  position: relative;
  display: block;
  border: 1px solid #333;
  margin: 5px 0 10px 0;
}

/* Style the figure captions, hiding them by default */

figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: .7em;
  color: #fff;
  background-color: rgba(0,0,0,.7);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

/* Display the captions on hover */

figure:hover figcaption {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000,endColorstr=#aa000000);
}

/* Add padding and margin to the caption contents */

figcaption * {
  padding: 0 10px;
  margin: 0;
}

figcaption *:first-child {
  padding-top: 5px;
}
figcaption *:last-child {
  padding-bottom: 5px;
}

/* Give captions and headings their own font */

figcaption, h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
</style>
  <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 댓글</a> </h2>
</div>

<hr>
 --><div class = "row-fluid" >
<div class = "span1" ></div>
<div class = "span10">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'evarchitect'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the 
    <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink" rel="nofollow">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
<div class = "span1" ></div>
</div>   

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<%= javascript_include_tag "responsiveslides.min.js" %>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    });
  });
</script>
<script>
(function($) { $('#slider1').responsiveSlides( {speed:1000,timeout:5000} ) }(jQuery))
</script>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'evarchitect'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
<script type="text/javascript">  
  (function() {  
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;  
    po.src = 'https://apis.google.com/js/plusone.js';  
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);  
  })();  
</script>  
</body>  
</html>   
