


<center>
<%= image_tag("main.gif", :height => '300', :width => '966') %>
</center>
<div class = "row-fluid" id="abouteva">
    <div class ="span12">
    <center>
      <h4>은하수 돌상에 오신것을 환영합니다.</h4>
      <h4>예약문의 : 010-2992-8086</h4>
      </center>
    </div>
</div>
<hr>
<center><%= image_tag("main_event.jpg", :height => '1670', :width=> '900') %></center>

<hr id="presentation">
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 포트폴리오 </a></h2>
<div class="row-fluid">
  <div class = "span1"></div>
  <div class = "span10">
  <div class="row-fluid">
    <div class="span3">
      <center>
      <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '180', :width => '270') %></a></p><br>홍대메리골드
      </center>
    </div>
    <div class="span3">
      <center>
      <p><a href="http://pkh_1004.blog.me/40199848278?Redirect=Log&from=postView"><%= image_tag('island.JPG', :height => '180', :width => '270') %></a></p><br>강화도펜션
      </center>
    </div>
    <div class="span3">
      <center>
      <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '180', :width => '270') %></a></p><br>분당믹스드원
      </center>
    </div>
    <div class="span3">
      <center>
      <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '180', :width => '270') %></a></p><br>구리시호텔
      </center>
    </div>
  </div>
  </div>
  <div class = "span1"></div>
</div>
<hr> 
<div class = "row-fluid" id="blog">
 <div class="span6">
  <center><a href="http://cafe.naver.com/ehsdolsang"><%= image_tag('bi_naver.gif') %><%= image_tag('h_cafe.gif') %></a></center>
  </div>
   <div class="span6">
  <center><a href="http://blog.naver.com/PostThumbnailList.nhn?blogId=pkh_1004&parentCategoryNo=125"><%= image_tag('bi_naver.gif') %>블로그 </a></center>
  </div>
</div>
</div>
