<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>은하수 전통돌상에 오신것을 환영합니다 </title><!DOCTYPE html>   
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag "prettify.css" %>
  <%= stylesheet_link_tag "docs.css" %>
  <%= stylesheet_link_tag "bootstrap-responsive.css" %> 
  <%= javascript_include_tag "bootstrap.min.js" %>
  <%= javascript_include_tag "bootstrap.js" %>
</head>  
<body>  
<div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Project name</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <!-- Read about Bootstrap dropdowns at http://twbs.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div>


<center>
<%= image_tag("main.gif", :height => '300', :width => '966') %>
</center>
<div class = "row-fluid" id="abouteva">
    <div class ="span12">
    <center>
      <h4>은하수 돌상에 오신것을 환영합니다.</h4>
      <h4>예약문의 : 010-2992-8086</h4>
      </center>
    </div>
</div>
<hr id="presentation">
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 상품소개 </a></h2>
<div class = "row-fluid" >
  <div class = 'span1'></div>
  <div class = "span5">
  <center>
  <a href="http://cafe.naver.com/ehsdolsang/15"><%= image_tag('mary.jpeg', :height => '240', :width => '360') %></a><br><br>
   <h4>2단 돌상</h4></center>
</div>
<div class = "span5">
<center>
<a href="http://cafe.naver.com/ehsdolsang/17"><%= image_tag('mary.jpeg', :height => '240', :width => '360') %></a> <br><br>
<h4>1단 돌상</h4></center> 
</div>
<div class = 'span1'></div>
  </div>

<hr id="presentation">
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 볼거리 </a></h2>
<div class="row-fluid">
  <div class="span3">
    <center>
    <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '120', :width => '180') %></a></p><br>홍대메리골드
    </center>
  </div>
  <div class="span3">
    <center>
    <p><a href="http://pkh_1004.blog.me/40199848278?Redirect=Log&from=postView"><%= image_tag('island.JPG', :height => '120', :width => '180') %></a></p><br>강화도펜션
    </center>
  </div>
  <div class="span3">
    <center>
    <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '120', :width => '180') %></a></p><br>분당믹스드원
    </center>
  </div>
  <div class="span3">
    <center>
    <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '120', :width => '180') %></a></p><br>구리시호텔
    </center>
  </div>
</div>
<hr> 
<div class = "row-fluid" id="blog">
 <div class="span6">
  <center><a href="http://cafe.naver.com/ehsdolsang"><%= image_tag('bi_naver.gif') %><%= image_tag('h_cafe.gif') %></a></center>
  </div>
   <div class="span6">
  <center><a href="http://blog.naver.com/PostThumbnailList.nhn?blogId=pkh_1004&parentCategoryNo=125"><%= image_tag('bi_naver.gif') %>블로그 </a></center>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<%= javascript_include_tag "responsiveslides.min.js" %>


</body>  
</html>   
