<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>은하수 전통돌상에 오신것을 환영합니다 </title><!DOCTYPE html>   
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "prettify.css" %>
  <%= stylesheet_link_tag "docs.css" %>
  <%= stylesheet_link_tag "bootstrap-responsive.css" %> 
  <%= javascript_include_tag "bootstrap.min.js" %>

  <style type="text/css">  
  .socials {  
  padding: 10px;  
  }  
  </style>

  <script type='text/javascript'>
  function change_class(elem){
      var parentDiv = elem.parentNode;
    if(parentDiv.className == "dropdown open" ){
      alert(elem.parentDiv.className);
      parentDiv.className = "dropdown";
      alert(elem.parentDiv.className);
    }else{
      alert(elem.parentDiv.className);
      parentDiv.className = "dropdown open";
      alert(elem.parentDiv.className);
    }
  }
  </script>
</head>  
<body>  
<div id="fb-root"></div>  
<script>(function(d, s, id) {  
  var js, fjs = d.getElementsByTagName(s)[0];  
  if (d.getElementById(id)) return;  
  js = d.createElement(s); js.id = id;  
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";  
  fjs.parentNode.insertBefore(js, fjs);  
}(document, 'script', 'facebook-jssdk'));</script>  
<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <ul class="nav pull-left">  
      <li class="active"><a class="brand" href="http://은하수돌상.com">은하수돌상</a></li>    
    </ul>  
    <ul class="nav pull-right">  
      <li><a href="#presentation">볼거리</a></li>  
    </ul>  
    </div>  
  </div>  
</div>  



<center>
<%= image_tag("main.gif", :height => '300', :width => '966') %>
</center>
<div class = "row-fluid" id="abouteva">
    <div class ="span12">
    <center>
      <h4>은하수 돌상에 오신것을 환영합니다.</h4>
      <h4>예약문의 : 010-2992-8086</h4>
      </center>
    </div>
</div>
<hr id="presentation">
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 상품소개 </a></h2>
<div class = "row-fluid" >
  <div class = 'span1'></div>
  <div class = "span5">
  <a href="http://cafe.naver.com/ehsdolsang/15"><%= image_tag('mary.jpeg', :height => '240', :width => '360') %> 은
</div>
<div class = "span5">
<a href="http://cafe.naver.com/ehsdolsang/17"><%= image_tag('mary.jpeg', :height => '240', :width => '360') %> 하
</div>
<div class = 'span1'></div>
  </div>

<hr id="presentation">
      <h2><a  style="text-decoration:none; color: #800000"> &nbsp;&nbsp; 볼거리 </a></h2>
<div class = "row-fluid" >
  <div class = 'span1'></div>
  <div class = "span10">

      <div id="this-carousel-id" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
    <center>
      <div class="row-fluid">
        <div class="span3">
          <center>
          <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '120', :width => '180') %></a></p><br>홍대메리골드
          </center>
        </div>
        <div class="span3">
          <center>
          <p><a href="http://pkh_1004.blog.me/40199848278?Redirect=Log&from=postView"><%= image_tag('island.JPG', :height => '120', :width => '180') %></a></p><br>강화도펜션
          </center>
        </div>
        <div class="span3">
          <center>
          <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '120', :width => '180') %></a></p><br>분당믹스드원
          </center>
        </div>
        <div class="span3">
          <center>
          <p><a href="http://pkh_1004.blog.me/40200113784?Redirect=Log&from=postView"><%= image_tag('mary.jpeg', :height => '120', :width => '180') %></a></p><br>구리시호텔
          </center>
        </div>
      </div>
      </center>
    </div>
  </div>
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>
  </div>
  <div class = 'span1'></div>
</div>
<hr> 
<div class = "row-fluid" id="blog">
  <center><a href="http://blog.naver.com/PostThumbnailList.nhn?blogId=pkh_1004&parentCategoryNo=125"><h2>네이버블로그 바로가기</h2></a></center><br><br>
  <center><a href="http://pkh_1004.blog.me"><h2>네이버카페 바로가기</h2></a></center>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<%= javascript_include_tag "responsiveslides.min.js" %>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    });
  });
</script>
<script>
(function($) { $('#slider1').responsiveSlides( {speed:1000,timeout:5000} ) }(jQuery))
</script>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'evarchitect'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
<script type="text/javascript">  
  (function() {  
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;  
    po.src = 'https://apis.google.com/js/plusone.js';  
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);  
  })();  
</script>  
</body>  
</html>   
